
.card-header-statistics {
  text-align: center;
  background-color: #d1ecf1;
  color: #0c5460;
  padding: 8px;
  font-weight: 500;
  background: linear-gradient(270deg, #7c32ff 0%, #c738d8 100%);
  color: white;
}
.bar-card {
  width: 430px;
}